
@{
    ViewBag.Title = "AddPatient";
}

<h2>AddPatient</h2>

// ---------------------> ova dolu e dodaeno (na View sho e Empty(without model))

@using (Html.BeginForm())
{
    @Html.Hidden("doctorId", (int)ViewBag.DoctorId)

    @Html.Label("Избери пациент:")
    @Html.DropDownList("patientId", (SelectList)ViewBag.Patients)

    <button type="submit">Додади</button>
}



