
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@* primer 1 *@

@using (Html.BeginForm("Search", "Store", FormMethod.Get))
{
                <input type="text" name="q" />
                <input type="submit" value="Search" />
}

@* primer 2 *@

@{Html.BeginForm("Search", "Store", FormMethod.Get); }
            {
                <input type="text" name="q" />
                <input type="submit" value="Search" />
            }
@{Html.EndForm();}

