@using MvcMusicStore.Models
@model Genre

@{
    ViewBag.Title = "Create";
}

<h2>New Genre</h2>

@using (Html.BeginForm("Create", "Genre"))
            {
                <div class="form-group">
                    @Html.LabelFor(g => g.ID)
                    @Html.TextBoxFor(g => g.ID, new { @class = "form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(g => g.Name)
                    @Html.TextBoxFor(g => g.Name, new { @class = "form-control"})
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            }

